    .social-icons {
        display: flex;
       /* flex-direction: column;
        align-items: center;*/
        justify-content:center;
    }

    .btn-google {
        background-color: #4285F4; /* Google Blue */
    }

    .btn-facebook {
        background-color: #1877f2; /* Facebook Blue */
    }
