@section Styles{
    <link rel="stylesheet" href="/css/_navaddprocessparial.css" />
    <link rel="stylesheet" href="/css/AddNew.css"/>

}
<body onload="DisplayHotels()"></body>
<div id="rooms"></div>
<div id="hotels">
</div>
<div id="Amenties">
</div>



@section Scripts{
    <script src="~/js/Hotel_ajax.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}