@section Styles{
    <link rel="stylesheet" href="/css/_navaddprocessparial.css" />
    <link rel="stylesheet" href="/css/AddNew.css"/>

}
<div id="rooms"></div>
<div id="hotels">
    
</div>


@section Scripts{
    <script src="~/js/Hotel_ajax.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}