  <!DOCTYPE HTML>
  <html>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>RedPlanet &mdash; A Onepage Hotel HTML Bootstrap Website Template by Colorlib </title>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=|Roboto+Sans:400,700|Playfair+Display:400,700">

      <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css">

      <link rel="stylesheet" href="fonts/fontawesome/indexCSS/font-awesome.min.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Fjalla+One&family=Rubik&display=swap" rel="stylesheet">

      <!-- Theme Style -->
      <link rel="stylesheet" href="/indexCSS/StyleHomePage.css">
    </head>
    <body data-spy="scroll" data-target="#templateux-navbar" data-offset="200">

    <nav class="navbar navbar-expand-lg navbar-dark pb_navbar pb_scrolled-light" id="templateux-navbar" style="background-color:#003b95">
      <div class="container">
        <a class="navbar-brand fw-bold" href="index.html" id="booking">Booking.com
    
          </a>
        <div class="site-menu-toggle js-site-menu-toggle  ml-auto"  data-aos="fade" data-toggle="collapse" data-target="#templateux-navbar-nav" aria-controls="templateux-navbar-nav" aria-expanded="false" aria-label="Toggle navigation">
              <span></span>
              <span></span>
              <span></span>
            </div>
            <!-- END menu-toggle -->

        <div class="collapse navbar-collapse" id="templateux-navbar-nav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item cta-btn "><a class="nav-link" href="#" target="_blank" style="padding-left: 0 !important;padding-right: 0 !important;"><span class="pb_rounded-4 rounded navlinks">Register</span></a></li>
            <li class="nav-item cta-btn "><a class="nav-link" href="#" target="_blank"><span class="pb_rounded-4 rounded navlinks">Login</span></a></li>

          </ul>
        </div>
      </div>
    </nav>
    <!-- END nav -->

      <section class="site-hero " data-stellar-background-ratio="0.5" id="section-home" style="background-color:#003b95;">
        <div class="container">
          <div class="row site-hero-inner justify-content-center align-items-center">
            <div class="col-md-10 justify-content-start" data-aos="fade-up">
              <h1 class="  subtitles1">Find your next stay</h1>
              <h5 class=" subtitles2">Search deals on hotels, homes, and much more...</h5>

            </div>
          </div>
        </div>
      </section>
      <!-- END section -->

      <section class="section bg-light pb-0"  >
        <div class="container">
         
          <div class="row check-availabilty" id="next">
            <div class="block-32" data-aos="fade-up" data-aos-offset="-200">

              <form action="#">
                <div class="row rowdiv" style="border: 5px solid rgb(246, 182, 7); background-color:rgb(246, 182, 7) ; border-radius: 5px 5px;">
                  
                  <div class="col-md-6  mb-md-0 col-lg-2">
                        <div class="field-icon-wrap">
                          <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                          <select name="" id="adults" class="form-control">
                            <option value="0">Where are you going?</option>
                            <option value="">Alexandria</option>
                            <option value="">Sharm El-shiekh</option>
                            <option value="">Hurghada</option>
                            <option value="">Cairo</option>
                            <option value="">Ain Sokhna</option>

                          </select>

                    </div>
                  </div>
                  


                  <div class="col-md-6 mb-lg-0 col-lg-2">
                    <div class="field-icon-wrap">
                      <div class="icon"><span class="icon-calendar"></span></div>
                      <input type="text" id="checkin_date" class="form-control" placeholder="check in">
                    </div>
                  </div>

                  <div class="col-md-6 mb-lg-0 col-lg-2">
                    <div class="field-icon-wrap">
                      <div class="icon"><span class="icon-calendar"></span></div>
                      <input type="text" id="checkout_date" class="form-control" placeholder="check out">
                    </div>
                  </div>

                  <div class="col-md-6 mb-lg-0 col-lg-2">
                    <div class="field-icon-wrap">
                      <div class="icon"><span class="icon-calendar"></span></div>
                      <select name="" id="adults" class="form-control">
                        <option value="0">Adults</option>
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                        <option value="">6</option>
                        <option value="">7</option>
                        <option value="">8</option>
                        <option value="">9</option>
                        <option value="">10</option>

                      </select>
                     </div>
                  </div>

                  <div class="col-md-6 mb-lg-0 col-lg-2">
                    <div class="field-icon-wrap">
                      <div class="icon"><span class="icon-calendar"></span></div>
                      <select name="" id="children" class="form-control">
                        <option value="0">Children</option>
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                        <option value="">6</option>
                        <option value="">7</option>
                        <option value="">8</option>
                        <option value="">9</option>
                        <option value="">10</option>
                      </select>
                     </div>
                  </div>

                  <div class="col-md-6 col-lg-2 align-self-end">
                    <button class="btn btn-block text-white btnform1"\>Search</button>
                  </div>
                </div>
              </form>
            </div>


          </div>
        </div>
      </section>
      <div>
          @RenderBody()
      </div>

     <!-- start footer -->

      <footer class="section footer-section">
        <div class="container">
          <div class="row mb-4">
            <div class="col-md-3 mb-5">
              <ul class="list-unstyled link">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Terms &amp; Conditions</a></li>
                <li><a href="#">Privacy Policy</a></li>
               <li><a href="#">Rooms</a></li>
              </ul>
            </div>
            <div class="col-md-3 mb-5">
              <ul class="list-unstyled link">
                <li><a href="#">The Rooms &amp; Suites</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Contact Us</a></li>
                <li><a href="#">Restaurant</a></li>
              </ul>
            </div>
            <div class="col-md-3 mb-5 pr-md-5 contact-info">
              <!-- <li>198 West 21th Street, <br> Suite 721 New York NY 10016</li> -->
              <p><span class="d-block"><span class="ion-ios-location h5 mr-3 text-primary"></span>Address:</span> <span> 198 West 21th Street, <br> Suite 721 New York NY 10016</span></p>
              <p><span class="d-block"><span class="ion-ios-telephone h5 mr-3 text-primary"></span>Phone:</span> <span> (+1) 435 3533</span></p>
              <p><span class="d-block"><span class="ion-ios-email h5 mr-3 text-primary"></span>Email:</span> <span> info@yourdomain.com</span></p>
            </div>
            <div class="col-md-3 mb-5">
              <p>Sign up for our newsletter</p>
              <form action="#" class="footer-newsletter">
                <div class="form-group">
                  <input type="email" class="form-control" placeholder="Email...">
                  <button type="submit" class="btn"><span class="fa fa-paper-plane"></span></button>
                </div>
              </form>
            </div>
          </div>
          <div class="row pt-5">
            <p class="col-md-8 text-left">
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart text-primary" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
              
            <p class="col-md-4 text-right social">
              <a href="#"><span class="fa fa-tripadvisor"></span></a>
              <a href="#"><span class="fa fa-facebook"></span></a>
              <a href="#"><span class="fa fa-twitter"></span></a>
              <a href="#"><span class="fa fa-linkedin"></span></a>
              <a href="#"><span class="fa fa-vimeo"></span></a>
            </p>
          </div>
        </div>
      </footer>

    
      <!-- Modal -->
      <div class="modal fade " id="reservation-form" tabindex="-1" role="dialog" aria-labelledby="reservationFormTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            
            <div class="modal-body">
              <div class="row">
                <div class="col-md-12" data-aos="fade-up" data-aos-delay="100">
                  
                  <form action="index.html"  method="post" class="bg-white p-4">
                    <div class="row mb-4"><div class="col-12"><h2>Reservation</h2></div></div>
                    <div class="row">
                      <div class="col-md-6 form-group">
                        <label class="text-black font-weight-bold" for="name">Name</label>
                        <input type="text" id="name" class="form-control ">
                      </div>
                      <div class="col-md-6 form-group">
                        <label class="text-black font-weight-bold" for="phone">Phone</label>
                        <input type="text" id="phone" class="form-control ">
                      </div>
                    </div>
                
                    <div class="row">
                      <div class="col-md-12 form-group">
                        <label class="text-black font-weight-bold" for="email">Email</label>
                        <input type="email" id="email" class="form-control ">
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6 form-group">
                        <label class="text-black font-weight-bold" for="checkin_date">Date Check In</label>
                        <input type="text" id="checkin_date" class="form-control">
                      </div>
                      <div class="col-md-6 form-group">
                        <label class="text-black font-weight-bold" for="checkout_date">Date Check Out</label>
                        <input type="text" id="checkout_date" class="form-control">
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6 form-group">
                        <label for="adults" class="font-weight-bold text-black">Adults</label>
                        <div class="field-icon-wrap">
                          <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                          <select name="" id="adults" class="form-control">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4+</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-6 form-group">
                        <label for="children" class="font-weight-bold text-black">Children</label>
                        <div class="field-icon-wrap">
                          <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                          <select name="" id="children" class="form-control">
                            <option value="">1</option>
                            <option value="">2</option>
                            <option value="">3</option>
                            <option value="">4+</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="row mb-4">
                      <div class="col-md-12 form-group">
                        <label class="text-black font-weight-bold" for="message">Notes</label>
                        <textarea name="message" id="message" class="form-control " cols="30" rows="8"></textarea>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 form-group">
                        <input type="submit" value="Reserve Now" class="btn btn-primary text-white py-3 px-5 font-weight-bold">
                      </div>
                    </div>
                  </form>

                </div>
                
              </div>
            </div>
           
          </div>
        </div>
      </div>
      
      <script src="/js/jquery-migrate-3.0.1.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <script src="/js/bootstrap-datepicker.js"></script> 
      <script src="/js/main.js"></script>
      <script src="~/lib/jquery/dist/jquery.min.js"></script>
      <script src="~/lib/popper.js/esm/popper.min.js"></script>
      <script src="~/lib/owl-carousel/owl.carousel.min.js"></script>
      <script src="~/lib/stellar.js/jquery.stellar.min.js"></script>
      <script src="~/lib/fancybox/jquery.fancybox.min.js"></script>
      <script src="~/lib/jquery-easing/jquery.easing.compatibility.min.js"></script>
      <script src="~/lib/jquery-easing/jquery.easing.min.js"></script>
      <a href="~/lib/jquery-easing/jquery.easing.compatibility.min.js.map">~/lib/jquery-easing/jquery.easing.compatibility.min.js.map</a>
      <script src="~/timepicker/jquery.timepicker.min.js"></script>
      <a href="~/timepicker/jquery.timepicker.min.js.map">~/timepicker/jquery.timepicker.min.js.map</a>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>

      
    </body>
  </html>
