<div>
<div class="dropdown">
    <div class="dropdown-menu rounded mt-5 me-5" aria-labelledby="dropdownMenuButton" style="width:13.6rem">
        <a class="dropdown-item" href="#">
            <i class="fad fa-user" style="color: #08090d;"></i>Manage Profile
        </a>
        <a class="dropdown-item" href="#">Reviews</a>
        <a class="dropdown-item" asp-action="signout" asp-controller="Account">SignOut</a>
    </div>
</div>
<button class="btn btn-outline-custom rounded  dropdown-toggle custom-dropdown-toggle d-flex" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <li class="nav-item">
        <span class="userprofile badge badge-primary bg-white rounded-circle p-2 fs-25 fw-bold">
            <span class="letter d-flex flex-wrap justify-content-center">
                @User.Identity.Name.ToUpper()[0]
            </span>
        </span>
    </li>
    <li class="nav-item">
        <span class="username pl-2">
            @User.Identity.Name.ToUpper()[0]@User.Identity.Name.Substring(1)
        </span>
    </li>
</button>
</div>
